
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

$h3FontSizeDesktop: 35px;
$h3FontSizeTablet: 30px;
$h3FontSizeMobile: 22px;
$pFontSizeDesktop: 16px;
$pFontSizeTablet: 16px;
$pFontSizeMobile: 16px;
$homepageRed: #660708;
$homepageBlack:#161a1d;
$homepageRed2: #a4161a;
$homepageRed3: #ba181b;
$homepageGray: #b1a7a6;
$homepageGray2: #d3d3d3;
$homepageLightgray: #f5f3f4;
$mobileSize: 200px;
$tabletSize: 600px;
$desktopSize: 1000px;
$mariablack: #1F1C1F;
$mariablack2:#03071E;
$mariared1:#E40B0B;
$mariared2:#C30E0E;
$mariared3:#A21112;
$mariared4:#821415;
$mariared5:#611618;
$mariared6:#40191C;
$mariaorange1:#DC2F02;
$mariaorange2:#E85D04;
$mariaorange2:#F48C06;
$mariaorange2:#FAA307;
$mariayellow:#FFBA08;

