nav{
    display: flex;
    // justify-content: center;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: $mikuGreen;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    summary{
        font-size: 28px;
        color: white;
    }
    
    > details{
        width: 95%;
        padding-left:5%;
        text-align: center;

        > ul{
            position: absolute;
            width: 88%;
            margin-top: 2vh;
            background-color: $homepageGray2;
            @include directionColumn;
            list-style-type: none;
        }
        
        li{
            padding: 2%;
            display: flex;
            width: 96%; 
            text-align: left;
            border-bottom: 1px solid $homepageBlack;
        }

        li:last-child {
            border-bottom: none;
        }

        a{
            color: black;
            text-decoration: none;
            font-size: 20px;
            width: 100%;
        }

    
    }

    > ul{
        display:none;
    }
}

// header

header{
    padding-top: 5vh;
    display: flex;
    height: 25vh;
    position: relative;

    h1{
        font-size: 35px;
        color: white;
    }

    > video{
        width: 100%;
        object-fit: cover;
        z-index: -1;    
    }

    > article{
        position: absolute;
        @include directionColumn;
        justify-content: center;
        text-align: center;
        height: 25vh;
        width: 100%;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.536);

        > p{
            width: 80%;
            color: $homepageGray2;
            font-size: 14px;
        }
    }
}

h3 {
    font-size: $h3FontSizeMobile;
    text-align: center;
}

main {
    width: 100%;
    padding-left: 0;
    row-gap: 5vh;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.anime {
    row-gap: 3vh;
    align-items: center;

    > section,
    > section > article {
        @include flexAxisGap(column, center, center, 0, 2vh);
    }

    h2 {
        @include flexAxisGap(row, center, center);
        background-color: $mikuOrange;
        color: white;
        font-size: 30px;
        font-weight: 900;
        border-radius: 50%;
        height: 10vh;
        width: 10vh;
        padding: 10%;
    }

    p {
        width: 90%;
        line-height: 1.5
    }

    h4 {
        @include background("/img/bg-h4.jpg");
        width: 90%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-size: 18px;
    }

    h4 > span {
        color: $mikuBlue;
    }

}

.tvshow {
    row-gap: 3vh;
    align-items: center;

    figure {
        width: 80%;
        @include flexAxisGap(column, center, center, 0, 2vh);
        border: 2px solid $mikuBlue;
        padding: 5%;
        box-shadow: 5px 5px 0px 0 $mikuBlue;

        > img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            object-position: center;
        }

        > figcaption {
            @include directionColumn;
            row-gap: 1vh;
        }

        h5 {
            text-align: center;
            font-size: 18px;
        }

        p {
            line-height: 1.3;
        }
    }
}

.recommendation {
    width: 90%;
    row-gap: 3vh;

    > section {
        width: 90%;
        padding: 5%;
        background-color: $mikuYellow;
        @include directionColumn;
        row-gap: 2vh;

        > h5 {
            font-size: 18px;
            color: firebrick;
        }

        > article {
            @include directionColumn;
            row-gap: 2vh;
        }

        aside {
            @include directionColumn;
            row-gap: 1vh;
        }

        h6 {
            font-size: 16px;
        }

        ul {
            list-style-position: inside;
        }

    }

    
    
}

.streaming {
    row-gap: 3vh;
    align-items: center;
    background-color: $mikuGreen;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    > section {
        width: 90%;
        @include directionColumn;
        row-gap: 2vh;

        h3, p {
            color: white;
        }

        p {
            line-height: 1.5;
        }
    }

    article {
        width: 90%;
        @include flexAxisGap (row, space-between, normal, 0, 2vh);
        flex-wrap: wrap;

        a {
            width: 40%;
            text-align: center;
            color: white;
            padding: 3%;
            border: 2px solid white;
        }
    } 
}

.vs {
    row-gap: 3vh;
    align-items: center;
    width: 100%;

    > h3 {
        width: 80%;
        background-color: $mikuYellow;
        padding: 5%;
        border-radius: 50px;

        > span {
            color: $mikuOrange;
        }
    }

    > p {
        width: 90%;
        line-height: 1.5;
    }

    > section {
        @include directionColumn;
        row-gap: 2vh;
        width: 90%;

        h4 {
            font-size: 24px;
        }

        > article {
            @include directionColumn;
            row-gap: 2vh;
            border: 2px solid $mikuOrange;
            box-shadow: 5px 5px 0px 0 $mikuOrange;
            padding: 5%;
        }

        aside {
            @include directionColumn;
            row-gap: 1.5vh;

        }

        ul {
            list-style-position: inside;
            padding-left: 10%;
            @include directionColumn;
            row-gap: 1vh;
        }

        i {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }
    }

    > article {
        @include flexAxisGap (column, normal, center, 0, 2vh);
        background-color: $mikuBlue;
        width: 90%;
        padding: 5%;

        > h3,p {
            color: white;
        }

        p {
            line-height: 1.5;
        }
    }
}

main > a {
    @include flexAxisGap(column, center, center);
    width: 7vh;
    height: 7vh;
    background-color: $mikuOrange;
    border-radius: 50%;

    i, span {
        color: white;
    }

    i {
        font-size: 18px;
    }

}

footer{
    background-color: $mikuGreen;
    color: white;
    align-items: center;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    @include directionColumn;
    row-gap: 2vh;
}
